*{
    box-sizing: border-box;
}

body{
    background-color: #3e6082;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
h1{
    font-size: 3rem;
    color: aliceblue;
}

canvas{
    background-color: rgb(5, 5, 5);
    display: block;
    border-radius: 5px;
}
.btn{
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 7px;
}
.btn:focus{
    outline: 0;
}
.btn:hover{
    background: #222;
}
.btn:active{
    transform: scale(0.98);
}

.rules-btn{
    position: absolute;
    top: 30px;
    left: 20px;
}

.rules{
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    color: white;
    width: 300px;
    min-height: 100vh;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-300px);
    transition: transform 1s ease-in-out;
    
}

.rules.show{
    transform: translateX(0px);
}